OWNER_NAME="𝕯𝖆𝖗𝖐 𝕯𝖍𝖊𝖟 𝕿𝖊𝖊 𝕹𝖞™"
PREFIX=".","!"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="non"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://files.catbox.moe/mp8pym.png"
NUMERO_OWNER= "2347064158438"
OWNER_NAME= "𝕯𝖆𝖗𝖐 𝕯𝖍𝖊𝖟 𝕿𝖊𝖊 𝕹𝖞™"
DATABASE_URL= ""
WARN_COUNT= "5"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='nk'
